<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Market Visualization - Bullseye</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/viz">Bullseye</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/viz">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Stock Market Visualization</h1>

    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
</div>

</body>
</html>