{% extends 'base.html' %}

{% block title %}Stock Market Visualization - Bullseye{% endblock %}

{% block content %}
<h1>Stock Market Visualization</h1>
<h2>{{ long_name }}</h2>
<div class="price-details">
    <span class="price" style="font-size: 24px;"><b>{{ price }}</b></span>
    <span class="change-details" style="color: {{ color }};" aria-label="Change Details">
        {{ plus }}{{ change }} ({{ plus }}{{ change_percent }}%)
    </span>
</div>
<div class="prediction-details">
    Close Price prediction for next working day:
    <span class="prediction" style="font-size: 20px; color: {{ prediction_color }};"
          aria-label="Close Price prediction for next working day">
        <b>{{ prediction }}</b>
    </span>
</div>
{% autoescape off %}
{{ plot_div }}
{% endautoescape %}
{% endblock %}